{% extends 'index.html' %}

{% block title %}
	Books
{% endblock %}

{% block content %}
	{% if messages %}
		{% for msg in messages %}
			<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
			  {{msg}}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		{% endfor %}
	{% endif %}

	<div class="container mt-5">
		<table class="table table-success text-info">
		<tr>
			<th>Book Number</th>
			<th>Book Name</th>
			<th>Author</th>
			<th>Department</th>
			<th>Published Date</th>
		</tr>
		{% for i in data %}
		<tr>
			<td>{{ i.book_no }}</td>
			<td>{{ i.book_name }}</td>
			<td>{{ i.author }}</td>
			<td>{{ i.department }}</td>
			<td>{{ i.published_in }}</td>
			<td><a href = "{% url 'update' i.book_no %}"><button class="btn btn-primary">Update</button></a></td>
			<td><a href = "{% url 'delete' i.book_no %}"><button class="btn btn-danger">Delete</button></a></td>
		</tr>
		{% endfor %}
	</table>
	<a  href = "{% url 'add_book' %}"><button class="btn btn-info">Add a New Book</button></a>
	</div>
	
{% endblock %}